@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  @apply text-3xl;
}

@layer components {
  .navbar-link {
    @apply inline-block text-xl relative after:transition-all after:duration-200 after:content-[''] after:absolute after:h-[2px] after:w-0 hover:after:w-full after:bottom-[-4px] after:left-0  after:bg-current;
  }

  .grid-card {
    @apply flex flex-col gap-4 bg-slate-700 text-slate-100 rounded-md overflow-clip drop-shadow-2xl;
  }

  .modal {
    @apply absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] w-[80%] aspect-video drop-shadow-2xl rounded-md overflow-clip;
  }

  .button {
    @apply bg-slate-700 text-neutral-50 rounded-md px-4 py-2 drop-shadow-xl text-center;
  }
}
