@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1 {
  @apply text-3xl;
}

a {
  text-underline-offset: 4px;
}

@layer components {
  .navbar-link {
    @apply inline-block text-xl relative after:transition-all after:duration-200 after:content-[''] after:absolute after:h-[2px] after:w-0 hover:after:w-full after:bottom-[-4px] after:left-0  after:bg-current;
  }

  .grid-card {
    @apply text-slate-100 rounded-md overflow-clip drop-shadow-xl;
  }

  .grid-card-text-box {
    @apply px-4 py-2 z-50 absolute bottom-0 w-full bg-gradient-to-b from-slate-950 from-10% via-slate-950/80 via-50% to-slate-950/60 to-90%;
  }

  .grid-card-overlay {
    @apply relative w-full aspect-[1/1.5] after:content-[''] after:absolute after:w-full after:h-full after:bg-slate-950 after:bg-opacity-0 group-hover:after:bg-opacity-40 after:duration-300;
  }

  .modal {
    @apply absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] w-[80%] aspect-video drop-shadow-2xl rounded-md overflow-clip;
  }

  .button {
    @apply bg-slate-700 text-neutral-50 rounded-md px-4 py-2 drop-shadow-xl text-center hover:rounded-sm duration-300;
  }
}
