@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body,
  html {
    @apply text-base;
  }

  img {
    max-width: 100%;
  }

  h1 {
    @apply text-3xl;
  }

  hr {
    @apply border-[1px] border-primary-100;
  }

  a {
    @apply underline-offset-[4px] text-primary-500/70 hover:text-primary-700 duration-100;
  }
}

@layer components {
  .navbar-link {
    @apply inline-block text-xl relative text-primary-500/70 hover:text-primary-700 duration-100 after:transition-all after:duration-200 after:content-[''] after:absolute after:h-[2px] after:w-0 hover:after:w-full after:bottom-0 after:left-0  after:bg-current;
  }

  .grid-card {
    @apply text-primary-100 drop-shadow-xl hover:text-current hover:[&>*]:text-primary-100 max-w-[280px];
  }

  .grid-card-text-box {
    @apply px-4 py-2 z-50 absolute bottom-0 w-full bg-gradient-to-b from-primary-950 from-10% via-primary-950/80 via-50% to-primary-950/60 to-90%;
  }

  .grid-card-overlay {
    @apply relative w-full aspect-[1/1.5] after:content-[''] after:absolute after:w-full after:h-full after:bg-primary-950 after:bg-opacity-0 group-hover:after:bg-opacity-40 after:duration-300 rounded-md overflow-clip bg-primary-700/80;
  }

  .modal {
    @apply absolute top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] w-[80%] aspect-video drop-shadow-2xl rounded-md overflow-clip;
  }

  .button {
    @apply bg-primary-700 text-primary-100 hover:text-primary-100 rounded-md px-4 py-1.5 drop-shadow-xl text-center hover:rounded-sm duration-300;
  }
}

@layer utilities {
  .horizontal-p {
    @apply px-2 sm:px-4 md:px-8 lg:px-16 xl:px-32;
  }
  .horizontal-m {
    @apply mx-2 sm:mx-4 md:mx-8 lg:mx-16 xl:mx-32;
  }
  .page-space-m {
    @apply horizontal-m my-14;
  }
  .page-space-p {
    @apply horizontal-p py-14;
  }
}
